[Service]
WorkingDirectory=/root/ai-basketball-analytics/
ExecStart=/root/.nvm/versions/node/v12.18.0/bin/node /root/ai-basketball-analytics/dist/index.js
Restart=always
Environment=LOG_LEVEL=debug POSTGRESQL_USER=postgres POSTGRESQL_PASSWORD=password POSTGRESQL_DATABASE=mydb

[Install]
WantedBy=multi-user.target